In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [32]:
df_pyspark = spark.read.option('header', 'true').csv('test2.csv', sep=';')

In [33]:
df_pyspark.columns

['nome', 'idade', 'experience']

In [34]:
df_pyspark.show()

+-----+-----+----------+
| nome|idade|experience|
+-----+-----+----------+
| Luan|   45|         3|
|Lucas|    9|         4|
|  Don|   89|         5|
+-----+-----+----------+

In [35]:
df_pyspark.select(['nome', 'idade']).show()

+-----+-----+
| nome|idade|
+-----+-----+
| Luan|   45|
|Lucas|    9|
|  Don|   89|
+-----+-----+

In [36]:
df_pyspark.dtypes

[('nome', 'string'), ('idade', 'string'), ('experience', 'string')]

In [37]:
df_pyspark.describe().show()

+-------+-----+------------------+----------+
|summary| nome|             idade|experience|
+-------+-----+------------------+----------+
|  count|    3|                 3|         3|
|   mean| NULL|47.666666666666664|       4.0|
| stddev| NULL| 40.06661120351125|       1.0|
|    min|  Don|                89|         3|
|    max|Lucas|                 9|         5|
+-------+-----+------------------+----------+

In [38]:
df_pyspark = df_pyspark.withColumn('experience + 2', df_pyspark['experience'] + 2)

In [39]:
df_pyspark.show()

+-----+-----+----------+--------------+
| nome|idade|experience|experience + 2|
+-----+-----+----------+--------------+
| Luan|   45|         3|           5.0|
|Lucas|    9|         4|           6.0|
|  Don|   89|         5|           7.0|
+-----+-----+----------+--------------+

In [40]:
df_pyspark  = df_pyspark.drop('experience + 2')

In [41]:
df_pyspark.show()

+-----+-----+----------+
| nome|idade|experience|
+-----+-----+----------+
| Luan|   45|         3|
|Lucas|    9|         4|
|  Don|   89|         5|
+-----+-----+----------+