In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Exemplo RDD para DataFrame") \
    .getOrCreate()

In [2]:
rdd = spark.sparkContext.textFile("dados.txt")

In [3]:
rdd.collect()

['nome,idade,cidade',
 'Alice,30,Nova Iorque',
 'Bob,25,San Francisco',
 'Carlos,28,Rio de Janeiro']

In [4]:
from pyspark.sql import Row

In [5]:
header = rdd.first()

In [10]:
data_rdd = rdd.filter(lambda line: line != header)

In [11]:
rows_rdd = data_rdd.map(lambda line: line.split(","))

In [13]:
rows_rdd.collect()

[['Alice', '30', 'Nova Iorque'],
 ['Bob', '25', 'San Francisco'],
 ['Carlos', '28', 'Rio de Janeiro']]

In [14]:
rows_rdd = rows_rdd.map(lambda parts: Row(nome=parts[0], idade=int(parts[1]), cidade=parts[2]))

In [15]:
rows_rdd.collect()

[Row(nome='Alice', idade=30, cidade='Nova Iorque'),
 Row(nome='Bob', idade=25, cidade='San Francisco'),
 Row(nome='Carlos', idade=28, cidade='Rio de Janeiro')]

In [16]:
df = spark.createDataFrame(rows_rdd)

In [17]:
df.show()

+------+-----+--------------+
|  nome|idade|        cidade|
+------+-----+--------------+
| Alice|   30|   Nova Iorque|
|   Bob|   25| San Francisco|
|Carlos|   28|Rio de Janeiro|
+------+-----+--------------+